@{
    ViewBag.Title = "ListUsers";
}

@Html.Partial("_Header")

<h2>ListUsers</h2>
<table border="1">
@foreach (EasyAuth.User user in EasyAuth.Authentication.UserStore.GetAllUsers())
{
    <tr>
        <td>@user.UserId</td>
        <td>@user.Username</td>
        <td>@user.Hash</td>
        <td>@user.Salt</td>
    </tr>
}
</table>